.bg-container {
  position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    max-width: 1440px;
    max-height: 100vh;
    z-index: -1;
    overflow-y: hidden;
  .bg {
    width: 100%;
    &--tablet {
      display: none;
    }
    &--desktop {
      display: none;
    }
    @media screen and (orientation: portrait) and (min-width: 500px) {
      &--mobile {
        display: none;
      }
      &--tablet {
        display: block;
      }
    }
    @media screen and (orientation: landscape) {
      &--mobile {
        display: none;
      }
      &--tablet {
        display: none;
      }
      &--desktop {
        display: block;
      }
    }
  }
}